.flowchart-zoom {
  position: absolute;
  top: 8px;
  right: 8px;
}

.flowchart-container {
  position: relative;
}

.flowchart-svg {
  height: 100%;
  width: 100%;
  border: 1px solid #dfdfdf;
  background-color: #f3f3f3;

  text {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.circle {
  fill: white;
  stroke-width: 1px;
  stroke: #bbbbbb;
  cursor: crosshair;
  :hover {
    opacity: 1;
  }
}

.g {
  :hover {
    circle {
      opacity: 1;
    }
  }
}
